<div class="container overflow-hidden">
    <!-- Title -->
    <div class="row my-3">
        <h1 class="mb-0">Repo Name</h1>
    </div>

    <!-- Metrics -->
    <div class="row my-3 gy-3">
        <!-- Single Number Metrics -->
        <div class="col-sm-6 col-12"><app-single-num-comp></app-single-num-comp></div>
        <div class="col-sm-6 col-12"><app-single-num-comp></app-single-num-comp></div>
        <!-- Graphs -->
        <div class="col-sm-6 col-12"><app-plot-comp></app-plot-comp></div>
        <div class="col-sm-6 col-12"><app-plot-comp></app-plot-comp></div>
        <div class="col-sm-6 col-12"><app-plot-comp></app-plot-comp></div>
        <div class="col-sm-6 col-12"><app-plot-comp></app-plot-comp></div>
    </div>
</div>
